body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* impede scroll da página */
    overflow: hidden;
    height: 100vh;
}

/* Fundo */
.background {
    height: 100%;
    width: 100%;

    background: linear-gradient(to right, #588E55, #75B966);                       

    /* centraliza o conteúdo */
    display: flex;
    justify-content: center;
    align-items: flex-start;               
}

/* Forms */
.infos {
    width: auto;
    height: 794px;
    max-width: 100%;
    background-color: #ffffff;
    padding: 30px 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);                      
}

/* Container principal */
.type-service {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 30px;
}

/* Título de cima - Que diabos é o título de cima? Pq eu não achei. ass. Milena */
.title-type {
    color: #888;
    font-size: 20px;
}

/* Esconde a bolinha padrão do Radio Button */
.type-buttons input[type="radio"] {
    display: none;
}

/* Estilo padrão do botão (Desmarcado) */
.type-buttons label {
    display: inline-block;
    padding: 6px 16px;
    border: 1px solid #888;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    margin-top: -10px;
}

/* Estilo do botão quando estiver selecionado (Marcado) */
.type-buttons input[type="radio"]:checked + label {
    background-color: #588E55; /* Cor verde aproximada da imagem */
    color: white;
    border-color: #163310;
}

/* Container principal */
.area-tags {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 0px;
}

/* Título de cima */
.title-tags,
.title-vestimenta,
.title-rua,
.title-horario,
.title-duracao,
.title-pagamento,
.title-idade,
.title-descricao {
    color: #888;
    font-size: 20px;
}

/* Esconde a bolinha padrão do Radio Button */
.tags-buttons input[type="radio"] {
    display: none;
}

/* Estilo padrão do botão (Desmarcado) */
.tags-buttons label {
    display: inline-block;
    padding: 6px 16px;
    border: 1px solid #888;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    margin-top: -10px;
}

.tags-buttons label:hover{
    border-color: #588e55;
    box-shadow: 0 4px 12px rgba(88, 142, 85, 0.2);
}

/* Estilo do botão quando estiver selecionado (Marcado) */
.tags-buttons input[type="radio"]:checked + label {
    background-color: #588E55; /* Cor verde aproximada da imagem */
    color: white;
    border-color: #163310;
}

/* Grupo que junta os botões lado a lado */
.tags-buttons,
.vestimenta-buttons {
    display: flex;
    gap: 10px;
}

/* Esconde a bolinha padrão do Radio Button */
.vestimenta-buttons input[type="radio"] {
    display: none;
}

/* Estilo padrão do botão (Desmarcado) */
.vestimenta-buttons label {
    display: inline-block;
    padding: 6px 16px;
    border: 1px solid #888;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    margin-top: -10px;
}

.vestimenta-buttons label:hover{
    border-color: #588e55;
    box-shadow: 0 4px 12px rgba(88, 142, 85, 0.2);
}

/* Estilo do botão quando estiver selecionado (Marcado) */
.vestimenta-buttons input[type="radio"]:checked + label {
    background-color: #588E55; /* Cor verde aproximada da imagem */
    color: white;
    border-color: #163310;
}   
    
.type-vestimenta,
.duracao-container,
.horario-dia,
.addresses
.descricao{    
    margin-left: 0px;    
}    
    
.rua-vestimenta{    
    display: flex;    
    flex-direction: row;    
}    

/*Inputs*/
input{
    border-radius: 8px;
    border-color: #1633108e;
    background-color: #adc5a82f;
    border-style: solid;
    border-width: 0.5px;
}

/* Inputs quando selecionado */
input:focus {
    border-color: #588E55;
}

.input-rua{
    width: 760px;
    height: 30px;
}

.input-horario,
.input-idade,
.input-duracao,
.input-pagamento{
    width: 300px;
    height: 30px;
}

.horario-idade,
.duracao-pagamento{
    display: flex;
    flex-direction: row;
}

.pagamento,
.idade-minima{
    margin-left: 155px;
}

/*Descrição*/
.input-descricao{
    width: 760px;
    height: 130px;
}

/*Container descrição e tags*/
.tags-descricao{
    display: flex;
    justify-content: space-between;
}

.btn-publicar { /* Botão */
    /* Alinhamento */
    align-self: flex-end;
    margin-top: 10px;
    margin-left: 0px;
    
    /* Cores e visual */
    background-color: #e2ede0;
    color: #2d4a29; 
    border: 1px solid #c2dac0; 
    
    /* Tipografia e espaçamento */
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    
    /* Transição */
    transition: all 0.2s ease-in-out;
}

.btn-publicar:hover { /* Botão */
    background-color: #588e55; 
    color: #ffffff; 
    border-color: #588e55;
    box-shadow: 0 4px 12px rgba(88, 142, 85, 0.2);
}